arithmetic-operations/src/main/mule/arithmetic-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fa23d06f-9d4b-4dd2-aae1-af1aebcffd08" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="arithmetic-operationsFlow" doc:id="cbfd2d54-e6dd-4f31-baf7-b45c7b532463" >
		<http:listener doc:name="Listener" doc:id="6700463f-aa59-4398-b1d1-b167db76654b" config-ref="HTTP_Listener_config" path="/op" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="1b39e7b3-8beb-4d28-9202-faef71748575" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	sum: payload.a + payload.b,
	differences: payload.a - payload.b,	
	product: payload.a * payload.b,
	factors: payload.a / payload.b
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
