main/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<import doc:name="Import" doc:id="8cd0d2f5-4149-4b0b-911f-82d2119a1ae0" file="templates.xml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="650a3387-3a13-4fe1-b38e-e01f7be03dac" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="fef5de53-8e01-4c5f-bb3f-3dc3ee90c6d6" >
		<http:listener doc:name="Listener" doc:id="b98dff7e-a56f-4fdf-b768-ba2949bbccd0" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[]]" doc:name="Set Payload" doc:id="f118df74-2e33-497a-af5c-4b9f8346499b" />
		<flow-ref doc:name="Flow Reference" doc:id="77786f86-e9df-4325-be3c-ff666f262049" name="validateArray"/>
	</flow>
</mule>
